doctype html
html
	head
		meta(charset="utf-8")
		title
			| Minimal template example
		meta(name="keywords" content="")
		meta(name="description" content="Это мой самый первый сайт.")
		link(href="styles/main.css" rel="stylesheet")

	body
		div(class="top_line")
		div(class="wrapper")
			header(class="clearfix")
				img(src="images/logo.png" class="logo")
				nav(class="clearfix")
					ul(class="clearfix")
						li(class="is-active") Home
						li About Us
						li Portfolio
						li Services
						li Blog
						li Contact Us

			main(class="main_info")
				div(class="main_info-inner")
					h1
						| Creative
						br
						| Design
						br
						| Services
					div(class="product_info")
						span(class="product_info-description")
							| Here's some nice work
						a(href='#' class="product_info-link")
							| View portfolio &rarr;

					div(class="product_images")
						img(class="product_image_bottom" src="images/bottom_image.png")
						img(class="product_image_top" src="images/top_image.png")

			section(class="additional_info clearfix")
				div(class="info")
					h2(class="info-title")
						| About us
					div(class="info-body")
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id	sem lobortis scelerisque. Praesent eget consequat libero.

						p
							a(href='#')
								| Read


				div(class="info")
					h2(class="info-title")
						| Our Benefits
					div(class="info-body")
						ul
							li
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa.
							li
								| Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id sem lobortis scelerisque. Praesent eget consequat
							li
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa.

				div(class="info")
					h2(class="info-title")
						| Testimonials
					div(class="info-body")
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id sem lobortis scelerisque.
						p
							em
								| Rafi, Graphicsfuel.com

			section(class="portfolio")
				h2(class="portfolio-title")
					| Our Portfolio
				div(class="portfolio-body clearfix")
					div(class="portfolio-img_wrapper")
						img(src="images/portfolio1.png")
					div(class="portfolio-img_wrapper")
						img(src="images/portfolio2.png")
					div(class="portfolio-img_wrapper")
						img(src="images/portfolio3.png")
					div(class="portfolio-img_wrapper")
						img(src="images/portfolio4.png")

			section(class="subscribe clearfix")
				div(class="subscribe-blog")
					h2(class="subscribe-title")
						| Blog Updates
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id sem lobortis scelerisque. Praesent eget consequat libero.

				div(class="subscribe-social")
					h2(class="subscribe-title")
						| Connect With Us
					div(class="subscribe-social_buttons")
						img(src="images/twitter.png")
						img(src="images/facebook.png")
						img(src="images/flickr.png")
						img(src="images/rss.png")

		footer(class="clearfix")
			div(class="footer_inner")
				nav
					ul(class="clearfix")
						li Home
						li About Us
						li Portfolio
						li Services
						li Blog
						li Contact Us

				span(class="copyright")
					| © 2010 CreativeStudio. All Rights Reserved.
				img(src="images/logo.png" class="footer_logo")