header {
	padding: 20px 0;
	border-bottom: 1px solid #C0C0C0;
}

header .logo {
	float: left;
}
header nav {
	position: relative;
}

header ul {
	float: right;
	margin-top: 40px;
}
header ul li {
	margin-left: 65px;
	float: left;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: #FC9B27;
	text-transform: uppercase;
}

header ul li:first-child {
	margin-left: 0;
}
header ul li.is-active {
	color: #000;
}