.subscribe {
	padding: 15px 0 30px;
}
.subscribe-blog {
	float: left;
	width: 660px;
	margin-right: 80px;
}
.subscribe-social {
	float: right;
	width: 220px;
}

.subscribe p {
	font-size: 12px;
	line-height: 20px;
	color: #5D5D5D;
}

.subscribe-title {
	display: block;
	position: relative;
	padding-left: 20px;
	font-size: 14px;
 	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
}

.subscribe-title:before {
	position: absolute;
	left: 0;
	top: 0;
	content: '→';
	color: #000;
}

.subscribe-social_buttons {}
.subscribe-social_buttons img {
	padding-right: 12px;
}