.portfolio {
	padding: 15px 0 30px;
	border-bottom: 1px solid #C0C0C0;
}

.portfolio-title {
	position: relative;
	font-size: 18px;
	line-height: 45px;
	color: $darkColor;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-left: 30px;
	font-weight: bold;
}

.portfolio-title:before {
	position: absolute;
	left: 0;
	top: 0;
	content: '→';
}

.portfolio-body {
	margin: 0 -15px;
}
.portfolio-img_wrapper {
	float: left;
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}

.portfolio-body img {
	width: 100%;
}